html {
    font-family: Helvetica, sans-serif
}

h2 {
    font-weight: lighter;
}
main {
    display: inline-block;
}

#submitButton{
    display: block;
    float: right;
    margin: 25px;
    height: 2em;
    width: 6em;
}

.redBackground{
        color: white;
        background-color: red;
}

#spacer{
    height: 50px;
}

.titleHeader {
    background-image: linear-gradient(to bottom right, rgb(45, 45, 171), rgb(19, 94, 22));
    text-align: center;
    padding: 25px;
    color: white;
}

input {
    border: 1px black solid;
    height: 2em;
    font-size: 1em;
    padding-left: 10px;
    max-width: 150px;
}

.column-one {
    width: 20%;
}

.column-two {
    width: 20%;
}
.column-three {
    width: 10%;
}
.column-four {
    width: 20%;
}
.column-five {
    width: 20%;
}
.column-six {
    width: 10%;
}

th {
    text-align: left;
    border: 1px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse:collapse;
}

#salaryDatum {
    text-align: right; 
}

td {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px; 
    border: 1px solid black; 
}

#salaryTable tr:nth-child(even){
    background-color: #f2f2f2;
}


#salaryTable tr:hover {
    background-color: rgb(193, 240, 190);
}

.delete:hover {
    background-color: red; 
}

#table-footer {
    height: 20px;
    width: 100%;
    border: 1px solid black;
}

#salaryTotalDiv {
    display: flex;
    flex-direction: row-reverse;
}